<!-- Download-wrap -->
<div class="content-wrapper__download">
    <p class="content-wrapper__download-p">Скачай чек-лист, чтобы:</p>
    <ul class="content-wrapper__list-items">
        <li class="content-wrapper__list-item"> 
            <span>
                избежать впустую потраченного времени
            </span>
        </li>
        <li class="content-wrapper__list-item"> 
            <span>
                сохранить личный и рекламный бюджет от «слива»
            </span> 
        </li>
        <li class="content-wrapper__list-item"> 
            <span>
                перестать париться по поводу маркетинга
            </span>
        </li>
        <li class="content-wrapper__list-item"> 
            <span>
                совершить прорыв в продвижении в 2018 году
            </span> 
        </li>
    </ul>
    <button class="button button--red" type="button" data-toggle="modal" data-target="#flipFlop">
        Я ХОЧУ СКАЧАТЬ ЧЕК-ЛИСТ <br> И СОВЕРШИТЬ ПРОРЫВ
    </button>
</div>