<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="vk-widget">
                    <div id="vk_groups"></div>
                    <script type="text/javascript">
                        VK.Widgets.Group("vk_groups", {mode: 1, width: "auto", height: "200"}, 1);
                    </script>
                </div>
            </div>
            <div class="col-md-4 col-12 flex-end">
                <div class="fb-page fb-widget" data-href="https://www.facebook.com/facebook" data-small-header="true" data-width="250" data-hide-cover="true" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/facebook">
                            Facebook
                        </a>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="footer__info">
                    <p class="footer__info-p">ok@nickvorobiov.com</p>
                    <p class="footer__info-p">ООО Реальность <br> г. Санкт-Петербург, ул. Некрасова 40</p>
                    <a href="#"> Политика конфиденциальности </a>
                    <p class="footer__info-p">+7 (499) 112-47-92</p>
                </div>
            </div>
        </div>
    </div>
</footer>
